body {
    background-image: url(https://c.tenor.com/-ph-rk4VnLgAAAAC/stars-space.gif);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    touch-action: none;
    background-size: cover;
  }
  
  #titulo {
    color: rgb(216, 0, 0);
    text-align: center;
    margin-bottom: 20px;
  }
  
  .esconder {
    display: none !important;
  }
  
  #bannerRotarTelefono {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 91, 223);
    color: rgb(211, 18, 18);
    padding: 10px;
    margin-bottom: 5px;
  }
  
  #botonCerrarBanner {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(219, 4, 4);
    border-radius: 5px;
    background-color: rgb(143, 43, 6);
    color: rgb(155, 25, 25);
    padding: 6px;
  }
  
  #puntos {
    color: rgb(238, 238, 238);
    margin-left: 52px;
    margin-bottom: 10px;
  }
  
  #contenedorJuego {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #contenedorNintendo {
    width: 94%;
    display: flex;
    flex-direction: column;
  }
  
  #juegoOverlay {
    position: relative;
  }
  
  #juegoCanvas {
    position: absolute;
    left: 16.9%;
    top: 5.19%;
    width: 73.8%;
    background-color: #1dafa8;
  }
  
  #nintendo {
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    #contenedorNintendo {
      width: 65%;
    }
  
    body {
      font-size: 20px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    #contenedorNintendo {
      width: 50%;
    }
  
    body {
      font-size: 22px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    #contenedorNintendo {
      width: 35%;
    }
  
    body {
      font-size: 24px;
    }
  }
  
  .shake-horizontal {
    -webkit-animation: shake-horizontal 0.8s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2020-10-24 16:9:50
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation shake-horizontal
   * ----------------------------------------
   */
  @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }